// BESI-C API viewer style
//   Penn Bauman <me@pennbauman.com>

$back:#000000;
$text:#eeeeee;

// Prevent Firefox selected button/link outline
:focus {outline:none;}
::-moz-focus-inner {border:0;}
// Prevent iOS input styling
input.text, input[type="text"], input[type="button"], input[type="submit"], .input-checkbox {
	-webkit-appearance: none;
	border-radius: 0;
}

body {
	width:60rem;
	max-width:90vw;
	margin:auto;
	padding:2rem 0;
	font-size:1.2rem;
	word-wrap:break-word;
	font-family:monospace;
	background-color:$back;
	color:$text;
}
body::-webkit-scrollbar {
	display: none;
}
a { color:inherit; }
table { border-collapse: collapse; }

h1 {
	font-size:2.50rem;
	margin-top:1rem;
	margin-bottom:1rem;
	text-align:center;
}
h2 {
	font-size:2rem;
	margin-bottom:0;
}
h3 {
	font-size:1.8rem;
	margin-bottom:0;
}
h4 {
	font-size:1.8rem;
	display:inline;
}
h5 {
	font-size:1.5rem;
	margin-bottom:0;
}
h6 {
	font-size:1.5rem;
	display:inline;
}
ul {
	margin:0.5rem 0;
	list-style-type:square;
}
